@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  

  --primary: #00bf63;
  --secondary: #ffffff;
  --text: #222222;
  --sub-text: #555658;
  --footer: #1b5b33;
  --background: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}


/* Form CSS */


.label{
  width: 100%;
  border-radius: 4px;
}
.label + .label {
  margin-top: 1em;
}
.input:focus{
  border: 2px solid var(--primary);
  border-radius: 4px;
  outline: none;
}
input{
  width: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  height: 48px;
  padding: 10px 15px;
}

/* Request Pick-up Form */

.requestForm{
  display: flex;
  width: 100%;
  margin: 1em auto;
  padding: 1em .5em;
  flex-direction: column;
  text-align: left;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}
.requestHeader{
  font-size: 26px;
  color: var(--primary);
  font-weight: bold;
}
select{
  width: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  height: 48px;
}
textarea{
  width: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  height: 100px;
}
.requestDone{
  width: 100px;
  padding: 10px 15px;
  background: var(--primary);
  color: var(--secondary);
  border-radius: 8px;
  margin: 1em auto;
  font-size: 18px;
}
.requestButtons{
  width: fit-content;
  margin: 0 auto;
  gap: 1em;
  display: flex;
}

.requestCancle{
  width: 100px;
  padding: 10px 15px;
  background: var(--secondary);
  color: var(--primary);
  border-radius: 8px;
  border: 1px solid var(--primary);
  margin: 1em auto;
  font-size: 18px;
}

/* SignUp Form */
.signUpHeader{
  color: var(--primary);
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.signUpForm{
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
.signUpContainer{
  width: 100%;
  display: flex;
  gap: 0.3em;
  flex-direction: column;
}
.signUpbtns{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}
.signUpbtn{
  width: 100%;
  padding: 10px 15px;
  background: var(--primary);
  color: var(--secondary);
  border-radius: 8px;
  margin: 1em auto;
  font-size: 18px;
}
.signUpGoogle{
  width: 100%;
  padding: 10px 15px;
  background: var(--secondary);
  color: var(--primary);
  border-radius: 8px;
  border: 1px solid var(--primary);
  margin: 1em auto;
  font-size: 18px;
}
.or{
  margin: 0 auto;
}
.lowerText{
  font-size: 12px;
  margin: 1em auto;
  width: 100%;
  text-align: center;
}
.haveAccount{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
span{
  color: var(--primary);
}

